name: Build and Release Executables

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-latest', 'ubuntu-latest']

    env:
      MAIN_PY_FILE: 'src/ui/ui.py' 

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: 3.12.x

    - name: Install Poetry
      run: |
        pip install poetry

    - name: Install Python dependencies (Poetry)
      run: |
        poetry install --no-root
      working-directory: ./

    - name: Build executable
      run: |
        poetry run pyinstaller --onefile ${{ env.MAIN_PY_FILE }} --name song2lrc
      working-directory: ./

    - name: Create Artifact (Windows)
      if: matrix.os == 'windows-latest'
      uses: actions/upload-artifact@v4
      with:
        name: windows-executables
        path: dist/
        retention-days: 1 
        
    - name: Create Artifact (Linux)
      if: matrix.os == 'ubuntu-latest'
      uses: actions/upload-artifact@v4
      with:
        name: linux-executables
        path: dist/
        retention-days: 1 

  release:
    needs: build
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
    - name: Download all executables (Artifacts)
      uses: actions/download-artifact@v4
      with:
        path: artifacts

    - name: Create and Upload to GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        files: artifacts/**/*
        name: Release ${{ github.ref_name }}
        body: |
          Assets for version ${{ github.ref_name }} are attached below:
          - Windows Executable (song2lrc.exe)
          - Linux Executable (song2lrc)
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
